# TP NoSQL

Prénom :

Nom : 

Pour ce TP noté vous avez à trois heures pour le réaliser et 48 heures pour le finir si besoin. Le rendu final est attendu pour dimanche 29 septembre 2024 à 23 h 59.

Vous serrez évalués sur les requêtes mais également sur la qualité et la propreté du code. Pour chaque question, une réponse présentant les résultats est attendue.

In [207]:
# installation des packages pandas et pymongo
!pip install -r requirements.txt --quiet

In [208]:
import pymongo
import pandas as pd

URI = 'mongodb+srv://mongo_user:wb6xlTxueSQ9KU00@cluster-but-sd.8m2t0.mongodb.net/?retryWrites=true&w=majority&appName=cluster-but-sd'
client = pymongo.MongoClient(URI)
db = client.tp
data = db.airbnb
# output the name of the collections in the database
print("Collections:", db.list_collection_names())

Collections: ['restaurants', 'airbnb']

#### 1. Combien de logements sont la base de données ?

In [209]:
result = data.count_documents({})
print("il y a",result,"logements dans la base de données.")

il y a 5555 logements dans la base de données.

#### 2. Quel est le prix moyen par ville ? Trier les villes par prix décroissant.

In [210]:
result = data.aggregate([
    {"$group":{"_id":"$address.market","Prix moyen":{"$avg":"$price"}}},
    {"$sort":{"Prix moyen":-1}}
])

df = pd.DataFrame(result)
df = df.rename(columns={"_id": "Ville"})

print(df)
print("\nLe tableau ci-dessus contient le prix moyen des logements par ville.")
print("Par exemple, le prix moyen à",df.iloc[1]["Ville"],"est",df.iloc[1]["Prix moyen"],".")

                    Ville                           Prix moyen
0               Hong Kong  762.4781906300484652665589660743134
1          Rio De Janeiro  525.8059701492537313432835820895522
2   Other (International)                               445.75
3                Istanbul  367.9454545454545454545454545454545
4                   Kauai  288.8208955223880597014925373134328
5                    Maui  286.5882352941176470588235294117647
6                    Oahu  212.2964426877470355731225296442688
7                  Sydney  197.7142857142857142857142857142857
8          The Big Island  179.4604316546762589928057553956835
9                New York  139.6260296540362438220757825370675
10       Other (Domestic)                               128.00
11                                                      115.50
12              Barcelona  100.9477848101265822784810126582278
13               Montreal  100.2330246913580246913580246913580
14                  Porto  69.12815884476534296028880866425993

Le tableau ci-dessus contient le prix moyen des logements par ville.
Par exemple, le prix moyen à Rio De Janeiro est 525.8059701492537313432835820895522 .


#### 3. Afficher la liste de tous les différents équipements qui existent.

In [211]:
result = data.distinct("amenities")
df = pd.DataFrame(result, columns=["Equipements"])
print(df)
print("\nLa liste ci-dessus montre les",df.shape[0],"équipements différents.")

                                    Equipements
0
1                              24-hour check-in
2                         Accessible-height bed
3                      Accessible-height toilet
4                              Air conditioning
..                                          ...
181                                        Wifi
182                               Window guards
183                                      toilet
184  translation missing: en.hosting_amenity_49
185  translation missing: en.hosting_amenity_50

[186 rows x 1 columns]

La liste ci-dessus montre les 186 équipements différents.

#### 4. Combien de propriétés incluent le Wifi dans les équipements ?

In [212]:
result = data.count_documents({ "amenities": "Wifi" })
print("Il y a",result,"logements dans lesquels le Wifi est inclu.")

Il y a 5303 logements dans lesquels le Wifi est inclu.

#### 5. Afficher le nom de tous les logements ainsi que le nombre de chambres et de lits qu'ils contiennent (ne pas afficher l'ID)

In [213]:
result = data.aggregate([
     {"$project":{"_id":0,"name":1,"bedrooms":1,"beds":1}}
 ])
df = pd.DataFrame(result)
print(df)
print("\nLe tableau ci-dessus montre la liste des logements avec le nombre de chambre et de lit.")
print("Par exemple,",df.iloc[4]["name"],"est constitué de",df.iloc[4]["bedrooms"],"chambres et",df.iloc[4]["beds"],"lits." )

                                                  name  bedrooms  beds
0                          Apt Linda Vista Lagoa - Rio       1.0   1.0
1                   Ótimo Apto proximo Parque Olimpico       2.0   2.0
2                       Modern Spacious 1 Bedroom Loft       1.0   2.0
3     Ligne verte - à 15 min de métro du centre ville.       0.0   1.0
4                              Ribeira Charming Duplex       3.0   5.0
...                                                ...       ...   ...
5550     Estudio en el casco antiguo. Alquiler mensual       0.0   3.0
5551  Qto Aconchegante no em frente ao Parque Olímpico       1.0   1.0
5552                  StayIN Oporto Música - Apartment       8.0   8.0
5553                                      Quarto Legal       1.0   1.0
5554                                                         1.0   1.0

[5555 rows x 3 columns]

Le tableau ci-dessus montre la liste des logements avec le nombre de chambre et de lit.
Par exemple, Ribeira Charming Duplex est constitué de 3.0 chambres et 5.0 lits.

#### 6. Afficher le nom et le prix des logements situés à Porto.

In [214]:
result = data.aggregate([
    { "$match": { "address.market": "Porto" }},
    {"$project":{"_id":0,"name":1,"price":1}}
 ])
df = pd.DataFrame(result)
print(df)
print("\nLe tableau ci-dessus comprend tout les logements proposé à porto ainsi que leur prix.")
print("Par exemple,",df.iloc[1]["name"],"est disponible pour",df.iloc[1]["price"])

                                    name   price
0                Ribeira Charming Duplex   80.00
1                      Be Happy in Porto   30.00
2    Downtown Oporto Inn (room cleaning)   40.00
3                         FloresRooms 3T   31.00
4     A Casa Alegre é um apartamento T1.   40.00
..                                   ...     ...
549         Number283 - Your home abroad   48.00
550        Cozy apartment downtown Porto   58.00
551                   Soares Guest House   90.00
552   Central, Modern, University, Metro   41.00
553     StayIN Oporto Música - Apartment  500.00

[554 rows x 2 columns]

Le tableau ci-dessus comprend tout les logements proposé à porto ainsi que leur prix.
Par exemple, Be Happy in Porto est disponible pour 30.00

#### 7. Quels sont les 5 hôtes les plus populaires (ceux dont les propriétés ont reçu le plus de commentaires) ?

In [215]:
result = data.aggregate([
    {"$unwind": "$reviews"},
    {"$group": {"_id": "$name", "Commentaires": {"$sum": 1}}},
    {"$sort": {"Commentaires": -1}},
    {"$limit": 5}
])

df = pd.DataFrame(list(result))
print(df)
print("\nLe tableau ci-dessus montre le top 5 des  logements par nombre de commentaires ")
print("Par exemple,",df.iloc[0]["_id"],"a été commenté",df.iloc[0]["Commentaires"],"fois!")

                                                 _id  Commentaires
0                    #Private Studio - Waikiki Dream           533
1  Near Airport private room, 2 bedroom granny fl...           469
2           La Sagrada Familia (and metro) 4 blocks!           463
3                PRIVATE Room in Spacious, Quiet Apt           420
4                      traditional and Charming room           408

Le tableau ci-dessus montre le top 5 des  logements par nombre de commentaires
Par exemple, #Private Studio - Waikiki Dream a été commenté 533 fois!

#### 8. Quelles sont les 6 villes ayant le plus de logements disponibles à la location ?

In [216]:
result = data.aggregate([
    { "$sortByCount": "$address.market" },
    {"$limit":6}
])
df = pd.DataFrame(list(result))
print(df)
print("\nLe tableau ci-dessus montre le top 6 des  villes par nombre de logements à louer")
print("La ville avec le plus de location est",df.iloc[0]["_id"],"avec",df.iloc[0]["count"],"logements suivi de",df.iloc[1]["_id"],df.iloc[1]["count"],"et",df.iloc[2]["_id"])

         _id  count
0   Istanbul    660
1   Montreal    648
2  Barcelona    632
3  Hong Kong    619
4     Sydney    609
5   New York    607

Le tableau ci-dessus montre le top 6 des  villes par nombre de logements à louer
La ville avec le plus de location est Istanbul avec 660 logements suivi de Montreal 648 et Barcelona

#### 9. Combien de propriétés acceptent plus de 4 invités et ont une caution de moins de 300€ ?

In [217]:
result = data.aggregate([
    { "$match": { "accommodates": {"$gt":4},"security_deposit": {"$lt":300}}},
    {"$project":{"_id":0,"name":1,"accommodates":1,"security_deposit":1}}
])
df = pd.DataFrame(list(result))
df = df.rename(columns={'name': 'Nom', 'accommodates': 'Invités','security_deposit':"Caution"})
print(df)
print("\nLe tableau ci-dessus montre la list des logements qui accueillent plus de 4 personnes et dont la caution est inférieure à 300€")
print("Par exemple",df.iloc[0]["Nom"],"permet d'accueillir",df.iloc[0]["Invités"],"personnes et la caution est de",df.iloc[0]["Caution"])

                                                   Nom  Invités Caution
0                              Ribeira Charming Duplex        8  200.00
1                   Catete's Colonial Big Hause Room B        8    0.00
2                  Kailua-Kona, Kona Coast II 2b condo        6  200.00
3                            2 bedroom Upper east side        5    0.00
4     Large railroad style 3 bedroom apt in Manhattan!        9  199.00
..                                                 ...      ...     ...
446                  Large Comfortable CBD Convenience        6    0.00
447     March Madness Special! Aina Nalu Platinum D107        6  200.00
448               Economy Family Room for 4-5pax (306)        5    0.00
449  1921 15kms from Sydney CBD with Pool Spa parking.        9    0.00
450                   StayIN Oporto Música - Apartment       16  200.00

[451 rows x 3 columns]

Le tableau ci-dessus montre la list des logements qui accueillent plus de 4 personnes et dont la caution est inférieure à 300€
Par exemple Ribeira Charming Duplex permet d'accueillir 8 personnes et la caution est de 200.00

#### 10. Donner les 20 utilisateurs qui ont fait le plus de commentaires (afficher seulement l'ID et le nom de l'utilisateur).

In [218]:
result = data.aggregate([
    {"$unwind": "$reviews"},
    {"$group" : {"_id" : "$reviews.reviewer_id", "Nom" : {"$first": "$reviews.reviewer_name"}, "Commentaires" :{"$sum" :1 }}},
    {"$sort" :{ "Commentaires" : -1}},
    {"$limit" : 20},
    {"$project":{"_id":0,"Nom":1,"Commentaires":1}}
])


df = pd.DataFrame(list(result))
print(df)
print("\nLe tableau ci-dessus montre le top 20 des utilisateurs ayant posté le plus d'avis ")
print("Par exemple,",df.iloc[0]["Nom"],"est la personne ayant le plus commenté avec",df.iloc[0]["Commentaires"],"avis!")

         Nom  Commentaires
0     Filipe            24
1       Nick            13
2        Uge            10
3       Lisa             9
4      Thien             9
5      David             8
6       Todd             8
7   Courtney             8
8       Jodi             8
9       Lisa             8
10     David             7
11     Lance             7
12       Dan             6
13    Pierre             6
14      Erik             6
15   Gonzalo             6
16     Chris             6
17   Branden             6
18     Megan             6
19     Assis             6

Le tableau ci-dessus montre le top 20 des utilisateurs ayant posté le plus d'avis
Par exemple, Filipe est la personne ayant le plus commenté avec 24 avis!

#### 11. Parmi les logements à Sydney, quel est la note moyenne des visiteurs ?

In [219]:
result = data.aggregate([
    { "$match": { "address.market": "Sydney" }},
    {"$group":{"_id":"$address.market","score": { "$avg": "$review_scores.review_scores_rating"} }}
 ])
df = pd.DataFrame(result)
df = df.rename(columns={'_id': 'Ville'})
print(df)
print("\nLa note moyenne des logements de",df.iloc[0]["Ville"],"est ",df.iloc[0]["score"])

    Ville     score
0  Sydney  93.45567

La note moyenne des logements de Sydney est  93.45567010309279

#### 12. (bonus) Afficher les logements qui contiennent le mot "park" dans leur nom

In [220]:
result = data.aggregate([
    {"$match":{"name": {"$regex": "park(?!ing)"}}},
    {"$project":{"_id":0,"name":1}}
     ])
df = pd.DataFrame(result)
print(df)
print("\nLe tableau ci-dessus est une liste de tout les logements dont le nom contient le mot park")

                                                 name
0                    Triple room Barcelona Guell park
1   Bright,cozy,quiet,walking distance metro,park ...
2                   Apartment located near Guell park
3                      Amazing view Apt@ Olympic park
4    Close to park and sea: Light and airy family apt
5              Charming apartment facing Laurier park
6             Manly Haven- Best Location with carpark
7       MILE-END ☀️Near MONTROYAL park☀️ FREE PARKING
8                  Repos de Ouro  Street of city park
9   Terrace- park view, great location, quiet street.
10   Super bright apartment in quiet area facing park
11            2 bedroom + 1 sofa, free car park place
12                4BR family home nr beaches and park
13  Sydney Studio in Glebe Close to CBD. SparklinC...
14                  Big 2bdm, Views, WIFI and carpark

Le tableau ci-dessus est une liste de tout les logements dont le nom contient le mot park

#### 13. (bonus) Afficher le nom des logements ayant une lattitude comprise entre 36,1 et 40,6 dont le prix est entre 100 et 200 euros.

In [221]:
result = data.aggregate([
    { "$match": { "address.location.coordinates.1": { "$gte": 36.1, "$lte": 40.6 },"price": { "$gte": 100, "$lte": 200 }}},
    { "$project": {"_id": 0, "Nom": "$name"}} 
])
df = pd.DataFrame(result)
print(df)
print("\nCes logements sont situé entre les latitudes 36,1 et 40,6 et un prix entre 100 et 200")

                                              Nom
0              Cozy Comfy Suite of Rockaway Beach
1       Coney Island MCU Park Wi fi Cable Apt****
2  Sheepshead Bay, 1-bdr apartment. Close to all!

Ces logements sont situé entre les latitudes 36,1 et 40,6 et un prix entre 100 et 200